body {
    width: 100%;
    min-height: 100vh;
    background-color: lightblue;
    margin: 0px;
}

.container {
    margin: 0px auto;
    min-height: 100vh;
    padding-top: 60px;
    max-width: 1500px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-container {
    display: flex;
    position: relative;
    /* float: left; */
}

.form-container input{
    display: flex;
    position: relative;
    float: left;
}

.form-container select {
    right: 10px;
    box-sizing: border-box;
    /* width: 120px; */
    height: 30px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* display:inline; */
    cursor:pointer;
    margin-left:30px;
}

.form-container select:hover {background-color: #E5E8F1}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
}


.search-container input {
    width: 500px;
    height: 50px;
    padding: 0px 50px 0px 20px;
    font-size: 20px;
    box-sizing: border-box;
}

.search-container button {
    display: none;
}

.search-container div {
    width: 50px;
    height: 50px;
    left: 450px; 
    position: absolute;
    background-image: url('/static/images/search.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 50px 50px;
}

.search-container div:hover {
    cursor: pointer;
}

#restaurant-list {
    width: 500px;    
    margin-top: 10px;
}

.restaurant {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.img-container {
    max-width: 200px;
    overflow: hidden;
}

.data-container {
    width: 300px;
    margin-left: 10px;
}

.restaurant img {
    min-width: 200px;
    height: 100px;
}
